<template lang="pug">
    extends /EntityEditBase
    block form
        div#add-order
            div.basic
                v-card.fill-height
                    v-card-title
                        h5 Basic information
                    v-card-text
                        app-form-input(
                            v-model="item.date"
                            :readonly="!isEditing"
                            label="Date"
                            rules="required"
                            type="date"
                            name="date"
                        )
                        app-form-input(
                            v-model="item.contract"
                            :readonly="!isEditing"
                            counter="25"
                            label="Contract #"
                            rules="required|min:3|max:25"
                            name="contract"
                        )
                        app-form-input(
                            v-model="item.customer_order_number"
                            :readonly="!isEditing"
                            counter="25"
                            label="Customer Order #"
                            rules="min:3|max:25"
                            name="customer_order_number"
                        )
                        app-form-toggle(
                            v-model="item.purchaser_pays"
                            :readonly="!isEditing"
                            :labels="{ checked: 'PURCHASER', unchecked: 'SELLER' }"
                            :width="100"
                            :color="colors"
                            label="Payer"
                        )
                        app-form-currency(
                            v-model="item.currency"
                            :readonly="!isEditing"
                            item-text="code"
                            item-value="id"
                            label="Currency"
                            name="currency"
                            required
                            return-object
                            rules="required"
                        )
                        app-form-autocomplete(
                            v-model="item.agent"
                            :readonly="!isEditing"
                            avatars
                            entity="user"
                            item-text="name"
                            item-value="id"
                            label="Agent"
                            name="agent"
                            required
                            return-object
                            rules="required"
                        )
                        app-form-autocomplete(
                            v-model="item.seller"
                            :readonly="!isEditing"
                            avatars
                            entity="company"
                            item-text="name"
                            item-value="id"
                            label="Seller"
                            name="seller"
                            required
                            return-object
                            rules="required"
                        )
                        app-form-autocomplete(
                            v-model="item.purchaser"
                            :readonly="!isEditing"
                            avatars
                            entity="company"
                            item-text="name"
                            item-value="id"
                            label="Purchaser"
                            name="purchaser"
                            required
                            return-object
                            rules="required"
                        )
                        app-form-toggle(
                            v-model="item.completed"
                            :readonly="!isEditing"
                            :labels="{ checked: 'COMPLETED', unchecked: 'PENDING' }"
                            :width="100"
                            label="Status"
                        )

            div.subagents
                order-subagents(v-model="item" :isEditing="isEditing" class="subagents")

            div.documents
                list-documents(:disabled="!isEditing")

            div.items
                v-card.fill-height
                    v-card-title
                        h5 Items ordered
                    v-card-text
                        order-items(v-model="item" :isEditing="isEditing")

</template>

<script>
import colors from 'vuetify/es5/util/colors'
import OrderItems from "./components/OrderItems";
import OrderSubagents from "./components/OrderSubagents";
import EntityEditPage from "@/components/pages/EntityEditPage";
import ListDocuments from "@/components/ListDocuments";


export default {
    name: "OrderSingle",
    components: {
        ListDocuments,
        OrderItems,
        OrderSubagents,
    },
    extends: EntityEditPage,
    meta: {
        title: 'Order',
        icon: 'file-sign',
    },
    computed: {
        colors() {
            return {
                checked: this.$getColor(
                    this.item.purchaser?.name,
                    colors.blue.darken4
                ),
                unchecked: this.$getColor(
                    this.item.seller?.name,
                    colors.amber.darken4
                ),
            }
        },
    },
    include: 'agent,seller,purchaser,order_items,order_items.unit,sub_agents,sub_agents.user,currency'
}
</script>

<style lang="scss" scoped>
@import '~vuetify/src/styles/settings/_variables';

@media #{map-get($display-breakpoints, 'md-and-up')} {
    #add-order {
        display: grid;
        grid-template-areas:
      'basic subagents'
      'basic documents'
      'items items';
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 1fr;
        gap: 1.5rem;
        margin-right: 1.5rem;
    }
}

.basic {
    grid-area: basic;
}

.subagents {
    grid-area: subagents;
}

.documents {
    grid-area: documents;
}

.items {
    grid-area: items;
}
</style>
