<template lang="pug">
    extends /AddNew
    block content
        v-row.fill-height.primary.overflow-hidden(ref='holder' v-resize='onResize')
            v-dialog(v-model='showFilters' width='500')
                v-card
                    v-card-title
                        | Filter {{ $route.meta.title }}
                    v-card-text
                        div(v-for='(filterable, index) in filterables' :key='index')
                            component(:is='filterable.component' v-model='filter[filterable.filters]' v-bind='filterable.props')
                    v-divider
                    v-card-actions
                        transition(name='fade')
                            v-btn(v-if='filterLength' color='warning' text='' @click='resetFilters')
                                | Reset Filters
                        v-spacer
                        v-btn(color='primary' text='' @click='showFilters = false')
                            | {{ filterLength ? 'Apply' : 'Close'  }}
            v-col
                v-data-table.elevation-0(ref='table' :headers='headers' :items='items' :loading='$fetchState.pending' :options.sync='options' :server-items-length='meta?.total ?? 0' :height='tableHeight' fixed-header='' must-sort='' hide-default-footer='' :no-data-text='noDataText' :no-results-text='noDataText' calculate-widths='')
                    template(v-for='slot in headers' #[`item.${slot.value}`]='{ item }')
                        component(:is="slot.component ?? 'span'" :key='slot.value' v-bind='$buildBinds(item, slot.binds, slot.props)' class='text-truncate text-no-wrap')
                            | {{ $buildBinds(item, slot.binds, slot.props).text ??  item[slot.value] }}
                    template(#[`footer`]='{props}')
                        .table-footer.d-md-flex.justify-end
                            v-data-footer(:items-per-page.sync='props.itemsPerPage' :options.sync='options' :pagination.sync='props.pagination' :items-per-page-options='itemsPerPageOptions' style='border: none;' hide-actions='')
                            .d-flex.align-center.pr-3.my-2
                                v-badge(bordered='' color='error' :content='filterLength' :value='filterLength > 0' overlap='')
                                    v-btn(fab='' dark='' color='primary' small='' elevation='0' @click='showFilters = true')
                                        v-icon(dark='')
                                            | mdi-magnify
                                v-btn.ml-4(fab='' dark='' color='success' @click='openAddForm' small='' elevation='0')
                                    v-icon(dark='')
                                        | mdi-plus

</template>

<script>
import _ from 'lodash'

export default {
    name: 'DataTablePage',
    mixins: [
        require('@/mixins/JsonApiIndex').default,
        require('@/mixins/AutoHeader').default,
        require('@/mixins/AddNew').default,
    ],
    data() {
        return {
            tableHeight: 'auto',
            itemsPerPageOptions: [10, ..._.range(25, this.$config.page.max_size, 25), parseInt(this.$config.page.max_size)],
            headers: this.$options.headers ?? [],
            filterables: this.$options.filterables ?? [],
            showFilters: false,
        }
    },
    methods: {
        onResize() {
            this.tableHeight = document.getElementById('sidebar').offsetHeight
                - this.$refs.table.$el.querySelector('.v-data-footer').offsetHeight
        },
        resetFilters() {
            this.filter = {}
            this.showFilters = false
        },
        onFetch() {
            this.$refs.table.$el.querySelector('.v-data-table__wrapper').scroll(0, 0)

            this.$nextTick(() => {
                this.onResize()
            })
        },
        onStore(data) {
            this.$router.push(`${this.$route.path}/${data.id}`)
        }
    },
}
</script>
