<script>

export default {
    mixins: [
        require('@/mixins/AutoHeader').default,
    ],
    name: "EntityEditPage",
    async beforeRouteLeave(to, from, next) {
        if (this.dirty && await this.confirmQuitEditing() === false) {
            next(false)
        } else {
            next()
        }
    },
    data() {
        return {
            init: false,
            item: {},
            isEditing: false,
            dirty: false,
        }
    },
    fetchOnServer: false,
    fetch() {
        this.$jsonApi
            .get(this.$route.path, {
                include: this.$options.include ?? '',
            })
            .then(result => {
                this.item = result.data
                this.postFetch()
            })
            .catch(error => {
                this.$toast.error(error.response?.data?.message ?? error.message)
                this.$nuxt.error({statusCode: 404, message: 'Post not found'})
            })
            .finally(() => {
                this.init = true
                this.$nextTick(() => {
                    this.dirty = false
                })
            })
    },
    watch: {
        item: {
            deep: true,
            handler() {
                this.$nextTick(() => {
                    this.dirty = true
                })
            },
        },
        isEditing(editing, oldEditing) {
            if (oldEditing !== editing) {
                if (!editing && this.dirty) this.$fetch()
                this.dirty = false
            }
        },
    },
    mounted() {
        window.addEventListener('beforeunload', this.beforeWindowUnload)
    },
    beforeDestroy() {
        window.removeEventListener('beforeunload', this.beforeWindowUnload)
    },
    methods: {
        store() {
            if (this.$refs.observer.validate()) {
                this.$axios
                    .patch(
                        this.$route.path,
                        this.item,
                        {
                            params: {
                                include: this.$options.include ?? '',
                            },
                        })
                    .then(result => {
                        this.$toast.success(
                            `Successfully saved ${this.$route.meta?.title ?? 'data'} ${result.data.data.title}`
                        )

                        this.item = result.data?.data ?? {}
                        this.$nextTick(() => {
                            this.dirty = false
                            this.isEditing = false
                        })
                        this.postFetch()
                    })
                    .catch(error => {
                        if (error.response?.data?.errors !== undefined) {
                            this.$refs.observer.setErrors(error.response.data.errors)
                        }
                        this.$toast.error(error?.response?.data?.message ?? error)
                    })
            }
        },
        async deleteItem() {
            const confirmed = await this.confirmDeleteItem()
            if (confirmed) {
                this.$axios.delete(this.$route.path)
                    .then(result => {
                            this.$toast.success(
                                result.data.message ?? 'Successfully deleted'
                            )
                            this.$router.push(this.$route.path.substring(0, this.$route.path.lastIndexOf('/')))
                        }
                    )
            }
        },
        async confirmDeleteItem() {
            return await this.$dialog.confirm({
                title: 'Are you sure?',
                text: "This item will be deleted forever.",
            })
        },
        async toggleEditing() {
            let confirmed = true
            if (this.dirty) {
                confirmed = await this.confirmQuitEditing()
            }
            if (confirmed) this.isEditing = !this.isEditing
        },
        async confirmQuitEditing() {
            return await this.$dialog.confirm({
                title: 'Unsaved changes',
                text: "You have unsaved changes!<br /> Are you sure you want to stop editing? All changes will be lost.",
            })
        },
        beforeWindowUnload(e) {
            if (this.dirty) {
                e.preventDefault()
                e.returnValue = ''
            }
        },
        postFetch() {
        },
    },
}
</script>
