<template lang="pug">
    v-card
        v-app-bar(v-if='editable' flat height="32" color="rgba(0, 0, 0, 0)" absolute)
            v-spacer
            v-btn(icon small @click="$emit('edit')")
                v-icon(small)
                    | mdi-pencil

        v-card-title.py-4.px-1
            v-layout.ma-0.align-center.column
                app-avatar.mb-8(:image='image' :name='headline' size='128')
        v-card-text
            .flex.text-center.header
                h3.heading
                    | {{ headline }}
                span.caption(v-if='caption')
                    | {{ caption }}
            v-list.list.caption(dense='')
                v-list-item(v-for="(header) in headers" :key='header.value')
                    v-list-item-icon.mx-0.my-1
                        slot(:name='`item.${header.value}.icon`' :item='attributes' :icon='header.icon')
                            v-icon(small='' v-text='header.icon || $getIcon(header.value)')
                    v-list-item-content.py-0
                        slot(:name='`item.${header.value}`' :item='attributes')
                            | {{ attributes[header.value] }}
        v-card-actions(v-if="$slots.actions" absolute bottom)
            v-row.pb-2.px-2(align='center' justify='end')
                slot(name="actions")


</template>

<script>
export default {
    name: 'CardContact',
    props: {
        headline: {
            type: String,
            default: null,
        },
        caption: {
            type: String,
            default: null,
        },
        headers: {
            type: Array,
            default() {
                return []
            },
        },
        attributes: {
            type: Object,
            default() {
                return {}
            },
        },
        image: {
            type: [String, null],
            default() {
                return null
            },
        },
        editable: {
            type: [Boolean, null],
            default() {
                return false
            },
        },
    },
    methods: {
        getItemClass(type) {
            if (['email', 'phone'].includes(type)) {
                return ['text-truncate']
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.heading {
    min-height: 3rem;
}

.v-list--dense .v-list-item {
    min-height: 20px;

    span {
        white-space: pre;
    }

    .unknown {
        border-bottom: 1px dashed lightgray;
        color: lightgray;
        text-align: right;
        font-size: 0;

        &:after {
            content: '?';
            font-size: 1rem;
            float: right;
            width: 100%;
        }
    }
}
</style>
