<template>
    <div class="text-right d-flex justify-end">
        <v-btn
            v-if="downloadUrl"
            icon
            :href="downloadUrl"
        >
            <v-icon small>mdi-download</v-icon>
        </v-btn>
        <v-btn
            icon
            color="primary"
            nuxt
            :to="`${$route.path}/${id}`"
        >
            <v-icon small>mdi-pencil</v-icon>
        </v-btn>
    </div>
</template>

<script>
export default {
    name: "DataTableActions",
    props: {
        id: {
            type: [String, Number],
            required: true,
        },
        downloadUrl: {
            type: String,
            default: null,
        },
    },
}
</script>
