<template>
    <time :datetime="date"
          v-bind="$attrs"
          v-on="$listeners"
          :class="classes"
    >
        {{ text }}
    </time>
</template>

<script>
import moment from "moment";

export default {
    name: "DateComponent",
    props: {
        date: {
            type: String,
            required: true,
        },
        warn: {
            type: Boolean,
            default() {
                return false;
            },
        },
    },
    computed: {
        text() {
            return moment(this.date).format('L');
        },
        classes() {
            if (this.warn) {
                const dueDate = moment(this.date);
                const today = moment();
                if (dueDate.isBefore(today)) {
                    return 'error--text font-weight-black';
                }
                if (dueDate.diff(today, 'days') < 7) {
                    return 'warning--text font-weight-bold';
                }
            }
            return '';
        },
    }
}
</script>
