<template>
  <div class="fab-container d-flex flex-column">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'FabContainer',
}
</script>

<style scoped lang="scss">
.fab-container {
  position: fixed;
  bottom: 16px;
  right: 0;
  z-index: 4;

  & > * {
    margin: 1rem 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
</style>
