<template>
    <vee-validation-observer
        ref="observer"
        v-slot="{
            dirty,
            pristine,
            valid,
            invalid,
            pending,
            touched,
             untouched,
             passed,
             failed,
             errors,
             validate,
             validateWithInfo,
             handleSubmit,
             reset
        }"
        slim
    >
        <v-form v-bind="$attrs" v-on="$listeners">
            <slot
                :dirty="dirty"
                :pristine="pristine"
                :valid="valid"
                :invalid="invalid"
                :pending="pending"
                :touched="touched"
                :untouched="untouched"
                :passed="passed"
                :failed="failed"
                :errors="errors"
                :validate="validate"
                :validateWithInfo="validateWithInfo"
                :handleSubmit="handleSubmit"
                :reset="reset"
            ></slot>
        </v-form>
    </vee-validation-observer>
</template>

<script>
import {ValidationObserver} from 'vee-validate'

export default {
    name: 'FormComponent', components: {
        VeeValidationObserver: ValidationObserver
    },
    inheritAttrs: false,
    inheritListeners: false,
    methods: {
        validate() {
            return this.$refs.observer.validate()
        },
        setErrors(errors) {
            const errorsNormalized = {}
            Object.keys(errors).forEach(key => {
                errorsNormalized[key] = errorsNormalized[key.split('.')[0]] = errors[key]
            })
            return this.$refs.observer.setErrors(errorsNormalized)
        },
        reset() {
            return this.$refs.observer.reset()
        },
    },
}
</script>
