<template>
    <v-card class="fill-height">
        <v-card-title>
            <h5>Documents</h5>
        </v-card-title>
        <v-card-text>
            <div
                class="d-flex flex-column"
                style="position: relative;"
            >
                <v-progress-linear
                    :active="$fetchState.pending"
                    absolute
                    top
                />

                <div class="d-flex flex-grow-1 flex-column overflow-auto">
                    <div
                        v-if="!documents.length"
                        class="text-center caption grey--text font-italic flex-grow-1 d-flex align-center justify-center"
                    >
                        <div>
                            <span v-if="!disabled">Click <v-icon
                                small>mdi-upload</v-icon> below to add a document.</span>
                            <span v-else>There are no documents for this {{ $route.meta.title ?? 'item' }}.</span>
                        </div>
                    </div>
                    <v-list
                        v-else
                        subheader
                        dense
                        expand
                    >
                        <transition-group
                            name="fadeUp"
                        >
                            <v-list-item
                                v-for="document in documents"
                                :key="document.id"
                            >
                                <v-list-item-avatar
                                    horizontal
                                    size="32"
                                >
                                    <v-icon
                                        class="grey lighten-1"
                                        dark
                                        small
                                    >
                                        mdi-folder
                                    </v-icon>
                                </v-list-item-avatar>

                                <v-list-item-content>
                                    <v-list-item-title v-text="document.title"></v-list-item-title>

                                    <v-list-item-subtitle>
                                        <app-date :date="document.created_at"/>
                                        /
                                        {{ document.filesize }}
                                    </v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <div class="d-flex">
                                        <v-btn
                                            v-if="!disabled"
                                            icon
                                            @click="deleteDocument(document.id)"
                                        >
                                            <v-icon color="grey lighten-1">
                                                mdi-delete
                                            </v-icon>
                                        </v-btn>
                                        <v-btn
                                            icon
                                            :href="document.download_url"
                                        >
                                            <v-icon color="grey lighten-1">
                                                mdi-download
                                            </v-icon>
                                        </v-btn>
                                    </div>
                                </v-list-item-action>
                            </v-list-item>
                        </transition-group>
                    </v-list>
                </div>
            </div>
        </v-card-text>
        <v-card-actions>
            <v-spacer/>
            <v-btn
                v-if="!disabled"
                fab
                color="primary"
                small
                elevation="0"
                class="ml-2"
                @click="$refs.documents.click()"
            >
                <v-icon>
                    mdi-upload
                </v-icon>
            </v-btn>
            <transition
                name="fade"
            >
                <v-btn
                    v-if="documents.length"
                    fab
                    color="primary"
                    small
                    elevation="0"
                    class="ml-2"
                    :href="`${$axios.defaults.baseURL}${$route.path}/documents?download`"
                >
                    <v-icon>
                        mdi-download
                    </v-icon>
                </v-btn>
            </transition>
            <input
                ref="documents"
                type="file"
                multiple
                accept="application/pdf"
                class="d-none"
                @change="uploadDocuments"
            />
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: "ListDocuments",
    props: {
        disabled: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            documents: [],
        };
    },
    fetchOnServer: false,
    fetch() {
        this.$axios.get(`${this.$route.path}/documents`)
            .then(response => {
                this.documents = response.data;
            })
            .catch(error => {
                this.$toast.error(error.response?.data?.message ?? error.message)
            });
    },
    methods: {
        uploadDocuments() {
            this.$fetchState.pending = true;
            const formData = new FormData();

            for (let i = 0; i < this.$refs.documents.files.length; i++) {
                formData.append('documents[' + i + ']', this.$refs.documents.files[i]);
            }

            this.$axios.post(`${this.$route.path}/documents`,
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    this.$toast.success(response.data.message);
                })
                .catch(error => {
                    this.$toast.error(error.response?.data?.message ?? error.message)
                })
                .finally(() => {
                    this.$fetch();
                });

            this.$refs.documents.value = null;
        },
        async deleteDocument(id) {
            const confirmed = await this.$dialog.confirm({
                title: 'Delete document',
                text: 'Are you sure you want to delete this document?',
            });

            if (confirmed) {
                this.$axios.delete(`${this.$route.path}/documents/${id}`)
                    .then(response => {
                        this.$toast.success(response.data.message);
                    })
                    .catch(error => {
                        this.$toast.error(error.response?.data?.message ?? error.message)
                    })
                    .finally(() => {
                        this.$fetch();
                    });
            }
        }
    },
}
</script>
