<template>
    <span>{{ output }}</span>
</template>

<script>
export default {
    name: 'MoneyFormat',
    props: {
        value: {
            type: [Number],
            required: true,
        },
        currency: {
            type: [String],
            default() {
                return 'EUR'
            },
        },
    },
    computed: {
        output() {
            return Intl.NumberFormat(undefined, {
                style: 'currency',
                currency: this.currency,
            })
                .format(this.value)
        },
    },
}
</script>
