<template>
    <v-tooltip v-model="show" top :disabled="!tooltip">
        <template #activator="{ on, attrs }">
            <v-icon
                :color="color"
                :v-bind="{ ...$attrs, ...attrs }"
                :v-on="{ ...$listeners, ...on }"
                @mouseenter="show = true"
                @mouseleave="show = false"
                :size="size"
            >
                {{ icon }}
            </v-icon>
        </template>
        {{ text }}
    </v-tooltip>
</template>

<script>
export default {
    name: "YesNoComponent",
    computed: {
        icon() {
            return this.value ? this.iconYes : this.iconNo
        },
        color() {
            return this.value ? this.colorYes : this.colorNo
        },
        text() {
            return this.value ? this.textYes : this.textNo
        },
    },
    props: {
        value: {
            type: Boolean,
            required: true,
        },
        iconYes: {
            type: String,
            required: false,
            default: () => 'mdi-check',
        },
        iconNo: {
            type: String,
            required: false,
            default: () => 'mdi-close',
        },
        textYes: {
            type: String,
            required: false,
            default: () => 'Yes',
        },
        textNo: {
            type: String,
            required: false,
            default: () => 'No',
        },
        colorYes: {
            type: String,
            required: false,
            default: () => 'success',
        },
        colorNo: {
            type: String,
            required: false,
            default: () => 'error',
        },
        tooltip: {
            type: [Boolean, null],
            default() {
                return true
            },
        },
        size: {
            type: [Number, String, null],
            default() {
                return 24
            },
        },
    },
    data: () => ({
        show: false,
    }),
}
</script>
