<template lang="pug">
    extends /PageSimpleListing
    block card
        template(#item.email='{ item }')
            a(:href="item.email") {{ item.email }}

        template(#item.address='{ item }')
            address
                | {{ item.address }}
                | {{ item.country?.emoji }} {{ item.country?.name }}

        template(#item.phone='{ item }')
            a(:href="`tel:${$phone(item.phone).phoneNumber }`") {{ item.phone }}

        template(#item.admin='{ item }')
            | {{ item.admin ? 'Administrator' : '' }}
        template(#item.admin.icon='{ item, icon }')
            v-icon(small='') {{ item.admin ? 'mdi-account-check' : '' }}

        template(#actions)
            v-btn(
                icon
                small
                :to="`/orders?filter[agent_id]=${item.id}`"
            )
                v-icon(small)
                    | mdi-file-sign

</template>

<script>
import PageSimpleListing from '@/components/pages/PageSimpleListing'

export default {
    name: 'UsersIndex',
    extends: PageSimpleListing,
    includes: 'country',
    meta: {
        title: 'Agents',
        icon: 'face-agent',
    },
    headers: [
        {
            icon: 'mdi-email-outline',
            value: 'email',
        },
        {
            icon: 'mdi-map-marker-outline',
            value: 'address',
        },
        {
            icon: 'mdi-phone-outline',
            value: 'phone',
        },
        {
            icon: '',
            value: 'admin',
        },
    ],
    config: {
        fields: [
            {
                component: 'app-form-input',
                name: 'name',
                label: 'Name',
                icon: 'special:route',
                rules: 'required|min:3',
                editable: false,
            },
            {
                component: 'app-form-input',
                name: 'email',
                label: 'Email',
                rules: 'required|email',
                editable: false,
            },
            {
                component: 'app-form-input',
                name: 'phone',
                label: 'Phone',
            },
            {
                component: 'v-textarea',
                name: 'address',
                label: 'Address',
                rows: 2,
            },
            {
                component: 'app-form-autocomplete',
                name: 'country',
                label: 'Country',
                props: {
                    entity: 'country',
                    'return-object': true,
                    'item-text': 'name',
                    'item-value': 'id'
                },
            }
        ],
    },
    methods: {
        itemEditable(item) {
            return this.$auth.user.admin && item.id !== this.$auth.user.id
        },
    },
}
</script>
