<template lang="pug">
    v-container
        v-row
            v-col(cols=12 md='4')
                v-card.pa-4
                    app-form.pa-5.my-5(
                        v-slot="{ invalid, dirty }"
                        ref="profileObserver"
                        :class="{disabled: !isEditing}"
                        @submit.prevent="updateProfile"
                    )
                        v-app-bar(
                            flat
                            height="32"
                            color="rgba(0, 0, 0, 0)"
                            absolute
                        )
                            v-spacer
                            v-btn(icon small @click="isEditing = !isEditing")
                                v-icon
                                    | mdi-pencil
                        v-card-title
                            v-row(justify="center").ma-0
                                v-col(
                                    align-self="start"
                                    class="d-flex justify-center align-center pa-0"
                                    cols="12"
                                )
                                    app-avatar(
                                        color='grey'
                                        size='200'
                                        :name='user.name'
                                    )
                        v-card-text
                            app-form-input.my-2(
                                v-model='user.name'
                                label='Name'
                                name='name'
                                dense
                                :disabled='!isEditing'
                            )
                            app-form-input.my-2(
                                v-model='user.phone'
                                label='Phone'
                                name='phone'
                                dense
                                :disabled='!isEditing'
                            )
                            v-textarea.my-2(
                                v-model='user.address'
                                label='Address'
                                name='address'
                                dense
                                :disabled='!isEditing'
                                auto-grow
                                no-resize
                                rows="3"
                            )
                            app-form-autocomplete.my-2(
                                v-model='user.country'
                                label='Country'
                                name='country'
                                dense
                                :disabled='!isEditing'
                                entity='country'
                                :return-object='true'
                                :item-text="'name'"
                                :item-value="'id'"
                            )
                        v-card-actions(style="min-height: 3.5rem")
                            v-spacer
                            transition(name="fade")
                                v-btn(
                                    v-if="isEditing && dirty"
                                    color="primary"
                                    :disabled="invalid"
                                    @click="updateProfile"
                                )
                                    | Update


            v-col
                v-card.pa-4
                    app-form(
                        v-slot="{ invalid, errors }"
                        ref="passwordObserver"
                        :class="{disabled: !isEditing}"
                        @submit.prevent="updatePassword"
                    )
                        v-card-title Change Password
                        v-card-text
                            v-alert(
                                color="warning"
                                border="left"
                                text
                                dense
                            )
                                span.font-weight-medium You are about to change your password.
                                br
                                span Please make sure you remember it.
                            app-form-input(
                                v-model='password_credentials.current_password'
                                label='Current Password'
                                name='current_password'
                                type='password'
                                rules="required"
                                outlined
                            )
                            app-form-input(
                                v-model='password_credentials.password'
                                label='New Password'
                                name='password'
                                type='password'
                                rules="required|min:8"
                                outlined
                            )
                            app-form-input(
                                v-model='password_credentials.password_confirmation'
                                label='Confirm new Password'
                                name='password_confirmation'
                                type='password'
                                rules="required|min:8"
                                outlined
                            )
                        v-card-actions
                            v-spacer
                            v-btn(
                                color="primary"
                                type="submit"
                                :disabled="invalid"
                            ) Change Password
</template>

<script>
import _ from "underscore";

export default {
    name: "ProfileIndexPage",

    meta: {
        title: "Profile",
        icon: "account-circle",
    },
    data() {
        return {
            isEditing: false,
            user: _.clone(this.$auth.user),
            password_credentials: {
                current_password: "",
                password: "",
                password_confirmation: "",
            },
        };
    },
    methods: {
        async updateProfile() {
            const valid = await this.$refs.profileObserver.validate();
            if (!valid) {
                return;
            }
            try {
                await this.$axios.put(
                    `/users/${this.$auth.user.id}`,
                    this.user
                );
                this.isEditing = false;
                await this.$auth.fetchUser();
                this.user = _.clone(this.$auth.user);
                this.$toast.success("Profile updated successfully");
                this.$refs.profileObserver.reset();
            } catch (error) {
                this.$refs.profileObserver.setErrors(error.response?.data?.errors)

                this.$toast.error(error.response.data.message);
            }
        },
        async updatePassword() {
            if (!await this.$refs.passwordObserver.validate()) return

            this.loading = true
            try {
                await this.$axios.put('/user/password', this.password_credentials)

                this.$toast.success(
                    'Password changed successfully'
                )

                this.$refs.passwordObserver.reset()
                this.password_credentials = {
                    current_password: "",
                    password: "",
                    password_confirmation: "",
                }
            } catch (error) {
                this.$refs.passwordObserver.setErrors(error.response?.data?.errors)

                this.$toast.error(error.response?.data?.message ?? error.message)
            }
            this.loading = false
        },
    }
};
</script>
