<template lang="pug">
    extends /ItemListBase
    block header
        th(style='min-width:25%') Shipment
        th.text-right Commission
    block item
        td
            vee-validation-provider(
                rules='required'
                :name='`shipments.${key}`'
                :vid='`shipments.${key}`'
                v-slot='{ errors }'
                slim
            )
                v-autocomplete(
                    v-model='localValue.shipments[key]'
                    :readonly='!isEditing'
                    :items='getAvailableShipments(localValue.shipments[key])'
                    item-text='title'
                    item-value='id'
                    return-object
                    :loading="pending"
                    hide-selected
                    :error-messages="errors"
                )
        td.text-right
            app-form-money(
                :value='getCommission(localValue.shipments[key]?.id)'
                readonly
                name='total_commission'
                currency='EUR'
                v-if="Boolean(localValue.shipments[key]?.id)"
            )
    block footer
        th.text-left Total
        td.text-right
            app-form-money(
                :value='totalCommission'
                readonly
                name='total_commission'
                currency='EUR'
            )

</template>

<script>
import ItemListBase from '@@/nuxt/components/ItemListBase'

export default {
    name: 'ShipmentItems',
    extends: ItemListBase,
    newItem: null,
    attribute: 'shipments',
    data() {
        return {
            shipments: [],
            pending: false,
            showAdder: false,
        }
    },
    computed: {
        totalCommission() {
            return this.localValue.shipments?.reduce((total, item) => {
                return total + this.getCommission(item?.id)
            }, 0)
        },
    },
    fetchOnServer: false,
    async fetch() {
        await this.fetch()
    },
    methods: {
        async fetch() {
            this.pending = true
            await this.$jsonApi.get('/shipments', {
                filter: {
                    payer: this.localValue.receiver?.id,
                    invoice_or_null: this.localValue?.id,
                },
            })
                .then((response) => {
                    this.shipments = response.data
                })
                .catch((error) => {
                    this.$toast.error(error.response?.data?.message ?? error.message)
                })
                .finally(() => (this.pending = false))
        },
        getAvailableShipments(value = {id: null}) {
            if (!this.localValue.shipments?.length)
                return this.shipments
            return this.shipments.filter((shipment) => {
                return !this.localValue.shipments.some((item) => {
                    return item?.id === shipment?.id
                }) || shipment?.id === value?.id
            })
        },
        getCommission(id) {
            const shipment = this.localValue.shipments.find((item) => item?.id === id)
            return shipment?.total_commission ?? 0
        }
    },
    watch: {
        'localValue.shipments': {
            handler() {
                this.showAdder = this.getAvailableShipments().length > 0
            },
            deep: true,
        },
        'shipments': {
            handler() {
                this.showAdder = this.getAvailableShipments().length > 0
            },
            deep: true,
        },
    },
}
</script>
