<template>
    <vee-validation-provider
        v-slot="{ errors }"
        :name="label"
        :rules="rules"
        :vid="name"
        slim
    >
        <v-component
            :is="tag"
            v-model="localValue"
            :error-messages="errors"
            :items="entries"
            :label="label"
            :loading="pending"
            :search-input.sync="search"
            autocomplete="off"
            hide-selected
            v-bind="$attrs"
            v-on="$listeners"
        >
            <template #selection="input">
                <autocomplete-row
                    :return-object="$attrs['return-object'] !== undefined || $attrs['return-id'] !== undefined"
                    :item-text="$attrs['item-text']"
                    :avatars="avatars"
                    :input="input"
                />
            </template>
            <template #item="input">
                <autocomplete-row
                    :return-object="$attrs['return-object'] !== undefined || $attrs['return-id'] !== undefined"
                    :item-text="$attrs['item-text']"
                    :avatars="avatars"
                    :input="input"
                />
            </template>
        </v-component>
    </vee-validation-provider>
</template>

<script>
import _ from 'lodash'
import {VAutocomplete, VCombobox} from 'vuetify/lib'
import AutocompleteRow from '@@/nuxt/components/form/Autocomplete/Row'
import Input from './Input'

export default {
    name: 'AutocompleteComponent',
    components: {
        AutocompleteRow,
        VCombobox,
        VAutocomplete
    },
    extends: Input,
    inheritAttrs: true,
    props: {
        value: {
            type: [Object, String, Number],
            required: false,
            default: () => null,
        },
        addable: {
            type: Boolean,
            default: () => false,
        },
        avatars: {
            type: Boolean,
            default: () => false,
        },
        entity: {
            type: String,
            required: true,
        },
        label: {
            type: String,
            default() {
                return ''
            },
        },
        filter: {
            type: Object,
            default() {
                return {}
            },
        },
    },
    data: () => ({
        search: '',
        pending: false,
        entries: [],
    }),
    computed: {
        tag() {
            return this.addable ? 'v-combobox' : 'v-autocomplete'
        },
        localValue: {
            get() {
                if (this.$attrs['return-id'] !== undefined)
                    return parseInt(this.value)
                return this.value
            },
            set(localValue) {
                this.$emit('input', localValue)
            },
        },
    },
    watch: {
        search() {
            if (this.entries.length > 0) return
            if (this.pending) return

            this.pending = true

            this.$jsonApi.get(
                `/${this.$pluralize(this.entity)}`,
                {
                    filter: this.filter,
                })
                .then((res) => {
                    this.entries = res.data.map((item) =>
                        this.$attrs['return-object'] !== undefined || this.$attrs['return-id'] !== undefined
                            ? _.pick(item, 'id', this.$attrs['item-text'] ?? 'name')
                            : item[this.$attrs['item-text'] ?? 'name']
                    )
                })
                .catch((err) => {
                    this.$toast.error(err)
                })
                .finally(() => (this.pending = false))
        },
        value() {
            this.localValue = typeof this.value === 'string' &&
            this.$attrs['return-object'] !== undefined
                ? {id: null, name: this.value}
                : this.value
        },
    },
}
</script>
