<template>
    <vee-validation-provider
        v-slot="{ errors }"
        :name="label"
        :rules="rules"
        :vid="name"
        slim
    >
        <v-combobox
            v-model="localValue"
            :error-messages="errors"
            :items="entries"
            :label="label"
            :loading="pending"
            :search-input.sync="search"
            autocomplete="off"
            hide-selected
            v-bind="$attrs"
            v-on="$listeners"
        >
            <template #selection="input">
                <autocomplete-row
                    :return-object="$attrs['return-object'] !== undefined || $attrs['return-id'] !== undefined"
                    item-text="code"
                    :avatars="true"
                    :avatar-format="(code) => getSymbolFromCurrency(code)"
                    :input="input"
                />
            </template>
            <template #item="input">
                <autocomplete-row
                    :return-object="$attrs['return-object'] !== undefined || $attrs['return-id'] !== undefined"
                    item-text="code"
                    :avatars="true"
                    :avatar-format="(code) => getSymbolFromCurrency(code)"
                    :input="input"
                />
            </template>
        </v-combobox>
    </vee-validation-provider>
</template>

<script>
import _ from 'lodash'
import getSymbolFromCurrency from 'currency-symbol-map'
import {VCombobox} from 'vuetify/lib'
import AutocompleteRow from '@@/nuxt/components/form/Autocomplete/Row'
import Input from './Input'

export default {
    name: 'AutocompleteComponent',
    components: {
        AutocompleteRow,
        VCombobox,
    },
    extends: Input,
    inheritAttrs: true,
    props: {
        value: {
            type: [Object, String, Number],
            required: false,
            default: () => null,
        },
        label: {
            type: String,
            default() {
                return ''
            },
        },
    },
    data: () => ({
        search: '',
        pending: false,
        entries: [],
    }),
    computed: {
        localValue: {
            get() {
                return this.value
            },
            set(localValue) {
                this.$emit('input', localValue)
            },
        },
    },
    watch: {
        search() {
            if (this.entries.length > 0) return
            if (this.pending) return

            this.pending = true

            this.$axios('/currencies')
                .then((res) => {
                    this.entries = res.data.data.map((item) => _.pick(item, 'id', 'code'))
                })
                .catch((err) => {
                    this.$toast.error(err)
                })
                .finally(() => (this.pending = false))
        },
        value() {
            this.localValue = typeof this.value === 'string' &&
            this.$attrs['return-object'] !== undefined
                ? {id: null, code: this.value.toUpperCase()}
                : this.value
        },
    },
    methods: {
        getSymbolFromCurrency(code) {
            return getSymbolFromCurrency(code) ?? '?'
        },
    },
}
</script>
