<template lang="pug">
    vee-validation-provider(
        v-slot='{ errors }'
        :name='label'
        :rules='rules'
        :vid='name'
        slim=''
    )
        v-currency-field(
            :error-messages='errors'
            :label='label'
            autocomplete='off'
            v-bind='$attrs'
            :class="{ 'custom-append': appendText }"
            v-on='$listeners'
            currency-display='narrowSymbol'
            precision='2'
        )
            template(
                v-if='appendText'
                v-slot:append
            )
                | {{ appendText }}


</template>

<script>
export default {
  name: 'FormCurrencyComponent',
  inheritAttrs: false,
  props: {
    rules: {
      type: String,
      default() {
        return ''
      },
    },
    name: {
      type: String,
      default() {
        return ''
      },
    },
    label: {
      type: String,
      default() {
        return ''
      },
    },
    appendText: {
      type: String,
      required: false,
      default() {
        return null
      },
    },
  },
}
</script>
