<template>
  <div
    class="v-input v-input--is-label-active v-text-field v-text-field--is-booted"
  >
    <div>
      <div class="v-input__slot">
        <div class="v-text-field__slot">
          <label
            class="v-label v-label--active theme--light"
            style="left: 0; right: auto; position: absolute"
          >
            {{ label }}
          </label>
          <toggle-button
            v-bind="$attrs"
            :font-size="10"
            :height="26"
            class="mt-2"
            v-on="$listeners"
            :disabled="disabled || readonly"
          />
        </div>
      </div>
    </div>
    <template v-if="appendText">
      {{ appendText }}
    </template>
  </div>
</template>

<script>
export default {
  name: 'FormToggleComponent',
  inheritAttrs: false,
  props: {
    rules: {
      type: String,
      default() {
        return ''
      },
    },
    name: {
      type: String,
      default() {
        return ''
      },
    },
    label: {
      type: String,
      default() {
        return ''
      },
    },
    appendText: {
      type: String,
      required: false,
      default() {
        return null
      },
    },
    disabled: {
      type: Boolean,
      default() {
        return false
      },
    },
    readonly: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
}
</script>
