@import '~vue2-animate/src/sass/vue2-animate.scss';
@import '~vuetify/src/styles/styles.sass';

.actions {
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.disabled .v-input.v-input--is-disabled .v-input__slot::before,
.disabled .v-input.v-input--is-readonly .v-input__slot::before {
    border-image: none !important;
}

.disabled .v-input--is-disabled,
.disabled .v-input--is-disabled input,
.disabled .v-input--is-disabled textarea,
.disabled .theme--light.v-input--is-disabled input,
.disabled .theme--light.v-input--is-disabled textarea,
.disabled .v-input--is-disabled .v-select__selections,
.disabled .v-label--is-disabled,
.disabled .v-input--is-readonly,
.disabled .v-input--is-readonly input,
.disabled .v-input--is-readonly textarea,
.disabled .theme--light.v-input--is-readonly input,
.disabled .theme--light.v-input--is-readonly textarea,
.disabled .v-input--is-readonly .v-select__selections,
.disabled .v-label--is-readonly {
    color: map-deep-get($grey, 'darken-4') !important;
}

.disabled .v-input--is-disabled .v-text-field__details {
    opacity: 0;
}

.disabled .v-input.v-input--is-disabled .v-input__slot::before,
.disabled .v-input.v-input--is-disabled .v-input__slot::before,
.disabled .v-input.v-input--is-readonly .v-input__slot::before,
.disabled .v-input.v-input--is-readonly .v-input__slot::before {
    opacity: 0;
}

.disabled .v-input.v-input--is-disabled.v-select .v-input__append-inner,
.disabled .v-input.v-input--is-readonly.v-select .v-input__append-inner {
    opacity: 0;
}

.v-input__append-inner {
    min-width: 1rem;
    text-align: right;
}


.table-footer {
    border: thin solid map-get($grey, lighten-2);
    background: white;

    &.fixed-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

address {
    font-style: normal;
    white-space: pre-wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
