<template lang="pug">
    vee-validation-observer(ref='subagentsValidator' v-slot='{ invalid }')
        v-card.fill-height
            v-card-title
                h5 Subagents
            v-card-text
                v-row
                    v-col.py-0(cols='3')
                        client-only
                            .chart.mt-5
                                pie-chart(ref='chart' :data='chartData' :options='chartOptions')
                v-row
                    v-col.py-0
                        v-simple-table(ref='table' :fixed-header='$vuetify.breakpoint.mdAndUp')
                            template(#default)
                                thead
                                    tr
                                        th.text-left Agent
                                        th.text-left(style='width: 8rem') Cut
                                        th(style='width: 3rem')
                                tbody
                                    tr(v-if='localValue.agent')
                                        td.body-1
                                            app-avatar.mr-2(:name='localValue.agent?.name' :size='20' show-text)
                                        td
                                            app-form-input.text-right(:value='agentCut' type='float' append-text='%' readonly)
                                        td
                                    tr(v-for='(subagent, key) in localValue.sub_agents' :key='key')
                                        td
                                            app-form-autocomplete(v-model='subagent.user' :vid='`sub_agents.${key}.user`' :disabled='!isEditing' avatars entity='user' item-text='name' item-value='id' name='agent' required return-object rules='required')
                                        td
                                            app-form-input.text-right(v-model='subagent.cut' :disabled='!isEditing' type='float' :vid='`sub_agents.${key}.cut`' append-text='%' min='0' :max='maxCut(subagent.cut)' rules='required' @input='\
                            () =>\
                            (subagent.cut = Math.min(\
                            subagent.cut,\
                            maxCut(subagent.cut)\
                            ))\
                            ')
                                        td.px-0.text-right
                                            transition(name='fade')
                                                v-btn.mx-2(v-if='isEditing' fab dark x-small color='error' depressed outlined @click='remove(key)')
                                                    v-icon(dark)  mdi-minus
                        footer.actions
                            transition(name='fade')
                                v-btn.my-2.mx-2(v-if='!invalid && isEditing' fab dark x-small color='success' depressed outlined @click='add')
                                    v-icon(dark)  mdi-plus

</template>

<script>
import _ from 'underscore'
import colors from 'vuetify/es5/util/colors'
import ItemListBase from '@@/nuxt/components/ItemListBase'

export default {
    name: 'OrderSubagents',
    attribute: 'sub_agents',
    extends: ItemListBase,
    confirmDelete: {
        title: 'Remove Subagent',
        text: 'Are you sure you want to remove this Subagent?',
    },
    data() {
        return {
            chartInit: false,
            chartData: {},
            chartOptions: {
                legend: {
                    display: false,
                },
            },
        }
    },
    computed: {
        agentCut() {
            return 100 - this.totalPercent
        },
        totalPercent() {
            return this.localValue.sub_agents?.reduce(
                (s, f) => s + (f.cut ? parseFloat(f.cut) : 0),
                0
            )
        },
    },
    watch: {
        localValue: {
            immediate: true,
            handler: _.debounce(function () {
                if (this.$refs.chart === undefined) return

                this.$refs.chart.renderChart(
                    {
                        labels: [
                            ...[this.localValue.agent?.name],
                            ...this.localValue.sub_agents?.map(
                                (subagent) => subagent.user?.name ?? 'Unknown Agent'
                            ),
                        ],
                        datasets: [
                            {
                                backgroundColor: [
                                    ...[this.$getColor(this.localValue.agent?.name)],
                                    ...this.localValue.sub_agents?.map((subagent) =>
                                        this.$getColor(subagent.user?.name, colors.amber.darken4)
                                    ),
                                ],
                                data: [
                                    ...[this.agentCut],
                                    ...this.localValue.sub_agents?.map((subagent) =>
                                        parseInt(subagent.cut)
                                    ),
                                ],
                            },
                        ],
                    },
                    {
                        ...this.chartOptions,
                        ...{
                            animation: {
                                animateRotate: false,
                            },
                        },
                    }
                )
            }, 500),
            deep: true,
        },
    },
    methods: {
        maxCut(currentCut) {
            const rest = this.totalPercent - parseFloat(currentCut)
            return 100 - rest
        },
    },
}
</script>
