<template lang="pug">
    extends /ItemListBase
    block header
        th(style="width:7rem") Amount
        th(style="width:7rem") left to ship
        th(style="width:8rem") Unit
        th(style="width:3.5rem") Typology
        th Description
        th(style="width:0") ETD
        th(style="width:1rem") Provision
        th.text-right(style="width:11rem") Price
    block item
        td
            app-form-input.text-right(
                v-model.number='item.amount'
                type='number'
                rules='required|min_value:1'
                min='1'
                :readonly='!isEditing'
                :name='`order_items.${key}.amount`'
            )
        td
            app-form-input.text-right(
                :value='item.amount_left ?? item.amount'
                type='number'
                readonly
            )
        td
            app-form-autocomplete(
                v-model="item.unit"
                :readonly="!isEditing"
                addable
                entity="units"
                item-text="code"
                item-value="id"
                :name='`order_items.${key}.unit`'
                required
                return-object
                rules="required"
            )
        td
            app-form-autocomplete(
                v-model='item.typology'
                addable
                entity='typology'
                rules='required'
                :readonly='!isEditing'
                :name='`order_items.${key}.typology`'
            )
        td
            app-form-autocomplete(
                v-model='item.description'
                addable
                entity='description'
                rules='required'
                :readonly='!isEditing'
                :name='`order_items.${key}.description`'
            )
        td
            app-form-input.text-right(
                v-model='item.etd'
                type='date'
                :readonly='!isEditing'
                :name='`order_items.${key}.etd`'
                rules="required"
            )
        td
            app-form-input.text-right(
                v-model.number='item.provision'
                type='float'
                :readonly='!isEditing'
                :name='`order_items.${key}.provision`'
                class="text-right"
                append-text="%"
                max="100"
                min="1"
                rules="required"
                style="min-width:4rem"
            )
        td
            app-form-money.text-right(
                v-model='item.price'
                type='number'
                :readonly='!isEditing'
                :name='`order_items.${key}.price`'
                :currency="localValue.currency?.code"
                :allow-negative="false"
                rules="required|min_value:0.01"
            )


</template>

<script>
import ItemListBase from '@@/nuxt/components/ItemListBase'

export default {
    name: 'OrderItems',
    extends: ItemListBase,
    confirmDelete: {
        title: 'Delete item',
        text: 'Are you sure you want to delete this item?',
    },
    newItem: {},
    attribute: 'order_items',
}
</script>
