<template lang='pug'>
    extends /Auth
    block form
        p Enter your email and we'll send you instructions to reset your password
        app-form-input(v-model='credentials.email' append-icon='mdi-account' auto label='Email' type='text' rules='required|email' name='email')
        v-layout
            nuxt-link(to='/login').text-decoration-none
                v-icon(small) mdi-chevron-left
                | Back to login
</template>

<script>
export default {
    name: 'AuthForgotPassword',
    auth: false,
    submitText: 'Send reset link',
    data: () => ({
        loading: false,
        error: '',
        errors: {},
        credentials: {
            email: '',
        },
    }),
    methods: {
        async main() {
            if (!await this.$refs.form.validate()) return

            this.loading = true
            try {
                await this.$axios.get('/csrf-cookie')
                await this.$axios.post('/forgot-password', this.credentials)

                this.$toast.success(
                    'We\'ve sent you an email with a link to reset your password.'
                )

                await this.$router.replace('/login')
            } catch (error) {
                this.loading = false

                this.$refs.form.setErrors(error.response?.data?.errors)

                this.$toast.error(error.response?.data?.message ?? error.message)
            }
            this.loading = false
        },
    },
}
</script>
