<template lang="pug">
    extends /Auth
    block form
        app-form-input(v-model='credentials.email' append-icon='mdi-account' auto label='Login' type='text' rules='required|email' name='email')
        app-form-input(v-model='credentials.password' append-icon='mdi-lock' label='Password' type='password' rules='required' name='password')
        v-layout
            v-spacer
            nuxt-link(to='/login/forgot-password') Forgot password?
</template>

<script>
export default {
    name: 'AuthLogin',
    layout: 'blank',
    submitText: 'Login',
    data: () => ({
        loading: false,
        error: '',
        errors: {
            email: [],
            password: [],
        },
        credentials: {
            email: '',
            password: '',
        },
    }),
    methods: {
        async main() {
            if (!await this.$refs.form.validate()) return

            this.loading = true
            try {
                await this.$auth.loginWith('laravelSanctum', {
                    data: this.credentials,
                })

                this.$toast.success(
                    `Successfully logged in. Welcome ${this.$auth.user.name}!`
                )
            } catch (error) {
                this.loading = false

                this.$refs.form.setErrors(error.response?.data?.errors)

                this.$toast.error(error.response?.data?.message ?? error.message)
            }
        },
    },
}
</script>
