<template lang="pug">
    extends /Auth
    block form
        p Enter your email and we'll send you instructions to reset your password
        app-form-input(
            v-model='credentials.email'
            append-icon='mdi-email-outline'
            auto
            label='Email'
            type='text'
            rules='required|email'
            name='email'
        )
        app-form-input(
            v-model='credentials.password'
            append-icon='mdi-lock'
            auto
            label='Password'
            type='password'
            rules='required|min:8'
            name='password'
        )
        app-form-input(
            v-model='credentials.password_confirmation'
            append-icon='mdi-lock-check'
            auto
            label='Confirm password'
            type='password'
            rules='required|min:8'
            name='password_confirmation'
        )
        v-layout
            nuxt-link(to='/login').text-decoration-none
                v-icon(small) mdi-chevron-left
                | Back to login
</template>

<script>
export default {
    name: "AuthResetPassword",
    auth: false,
    submitText: "Set new password",
    data() {
        return {
            loading: false,
            error: "",
            errors: {},
            credentials: {
                email: "",
                password: "",
                password_confirmation: "",
                token: this.$route.query.token || '',
            },
        }
    },
    methods: {
        async main() {
            if (!await this.$refs.form.validate()) return

            this.loading = true
            try {
                await this.$axios.get("/csrf-cookie")
                await this.$axios.post("/reset-password", this.credentials)

                this.$toast.success(
                    "Your password has been reset."
                )

                await this.$router.replace("/login")
            } catch (error) {
                this.loading = false

                this.$refs.form.setErrors(error.response?.data?.errors)

                this.$toast.error(error.response?.data?.message ?? error.message)
            }
            this.loading = false
        },
    },
}
</script>
