div
    block content

    v-dialog(v-model='dialog' max-width='500px')
        app-form(ref='observer' v-slot='{ invalid }' @submit.prevent='storeObject')
                v-card
                    v-card-title
                        | {{ formAction }}
                    v-card-text
                        v-row
                            v-col(v-for='(field, key) in config.fields' :key='key' :cols='field.cols ? field.cols : 12')
                                vee-validation-provider(v-slot='{ errors, valid }' :name='field.name' :rules='field.rules')
                                    component(
                                        :is='field.component'
                                        v-model='formData[field.name]'
                                        :label='field.label'
                                        :type='field.type'
                                        :prepend-icon="field.icon ? field.icon === 'special:route' ? `mdi-${$route.meta.icon}` : field.icon : $getIcon(field.name)"
                                        :items='field.items'
                                        :rows='field.rows'
                                        auto-grow
                                        dense
                                        no-resize
                                        :error-messages='errors'
                                        :readonly='!fieldEditable(field, valid)'
                                        :name='field.name'
                                        v-bind='field.props'
                                        :rules='fieldEditable(field, valid) ? field.rules : undefined'
                                    )
                                input(type='hidden' name='id' :value='formData.id')
                        small.grey--text {{ error }}
                    v-divider
                    v-card-actions
                        v-btn(color='primary' text='' @click='closeForm') Cancel
                        v-spacer
                        v-btn(v-if='formData.id && $auth.user.admin' color='error' outlined :loading='$fetchState.pending' @click='deleteObject')
                            | Delete
                        v-btn(color='primary' type='submit' :loading='$fetchState.pending' :disabled='invalid')
                            | Save
