v-container(fill-height)
    v-layout(align-center justify-center)
        v-flex(lg4 md5 sm8 xs12)
            v-card.elevation-1.pa-3
                app-form(ref='form' autocomplete='off' @submit.prevent='main')
                    v-card-text
                        .layout.column.align-center
                            h1.flex.my-4.primary--text
                                | {{ $config.app.title }}
                        block form
                    v-card-actions
                        v-btn(:loading='loading' block color='primary' type='submit')
                            | {{ $options.submitText || 'Submit' }}
