v-container
    v-progress-linear(
        :active="$fetchState.pending"
        absolute
        top
    )
    div(
        v-if="$fetchState.pending && !init"
    ) Loading {{ this.$options.meta?.title || 'item' }}...
    app-form(
        v-slot="{ valid, invalid, errors }"
        ref="observer"
        class="pb-16 mb-8"
        :class="{disabled: !isEditing}"
        @submit.prevent="store"
        v-else
    )
        block form
        app-fab-container
            transition-group(
                name="bounce"
                enter-active-class="bounceInUp"
                leave-active-class="bounceOutDown"
            )
                block fab-before
                app-btn-tooltip(
                    v-if="valid && isEditing"
                    key="save"
                    icon="mdi-content-save"
                    color="success"
                    type="submit"
                    class="mr-4"
                )
                    | Save
                app-btn-tooltip(
                    v-if="isEditing"
                    key="delete"
                    icon="mdi-delete"
                    color="error"
                    class="mr-4"
                    @click="deleteItem"
                )
                    | Delete
                app-btn-tooltip(
                    key="edit"
                    :icon="isEditing ? 'mdi-close' : 'mdi-pencil'"
                    color="warning"
                    @click="toggleEditing"
                    class="mr-4"
                )
                    | {{ isEditing ? 'Cancel' : 'Edit' }}
                block fab-after
