vee-validation-observer(ref='itemsValidator' v-slot='{ invalid }')
    v-simple-table
        template(#default='')
            thead
                tr
                    block header
                    td(style='width: 0px;')
            tbody
                tr(v-for='(item, key) in localValue[$options.attribute]' :key='key')
                    block item
                    td.px-0
                        transition(name='fade')
                            v-btn.mx-2(
                                fab
                                dark
                                x-small
                                color='error'
                                depressed
                                outlined
                                :disabled='!isEditing'
                                :style="{ visibility: isEditing && localValue[$options.attribute].length > 1  ? 'visible' : 'hidden' }"
                            )
                                v-icon(dark @click='remove(key)') mdi-minus
            tfoot
                tr
                    block  footer

    footer.actions
        v-btn.my-2.mx-2(v-if='!invalid && isEditing && showAdder' fab dark x-small color='success' depressed outlined @click='add')
            v-icon(dark='') mdi-plus
