extends /AddNew
block content
    v-container
        div
            v-data-iterator(
                :options='options'
                :items='items'
                hide-default-footer=''
                :loading='$fetchState.pending'
                :loading-text="`Loading ${$route.meta?.title?.toLowerCase() ?? 'items'}...`"
                :no-data-text="`No ${$route.meta?.title?.toLowerCase() ?? 'items'} found.`"
                :no-results-text="`No ${$route.meta?.title?.toLowerCase() ?? 'items'} found.`"
                :style={marginBottom: '5rem'}
            )
                template(#header)
                    div(style='height: 10px;')
                        v-progress-linear(
                            :active='$fetchState.pending'
                            indeterminate
                        )
                template(#default='props')
                    v-row(v-match-heights="{ el: ['.list', '.header'] }")
                        v-col(v-for='item in props.items' :key='item.id' cols='12' sm='6' md='4' lg='3')
                            app-card-contact(
                                :headline='item.name'
                                :attributes='$_.clone(item)'
                                :headers='headers'
                                :image='item.image'
                                :editable='itemEditable(item)'
                                @edit="openEditForm($_.clone(item))"
                            )
                                block card
                template(#footer)
                    div.table-footer.fixed-bottom.d-md-flex.justify-end(ref="footer")
                        v-data-footer(
                            :options.sync='options'
                            :pagination='pagination'
                            :items-per-page-options='itemsPerPageOptions'
                        )
                        .d-flex.align-center.pr-3.my-2
                            v-btn.ml-4(fab dark color='success' @click='openAddForm' small elevation='0')
                                v-icon(dark)
                                    | mdi-plus

