<template lang="pug">
    v-data-table(
        :headers="headers"
        :items="items"
        hide-default-footer
        :loading="loading"
        @click:row="row => $router.push({ name: 'invoices-id', params: { id: row.id } })"
        style="cursor: pointer;"
    )
        span(slot="no-data")
            | No invoices found.

        template(#item.due_date="{ item }")
            app-date(:date="item.due_date" warn)
        template(#item.receiver="{ item }")
            app-avatar(:name="item.receiver.name" size="28" tooltip)

</template>

<script>
export default {
    name: "IndexInvoices",
    data() {
        return {
            loading: true,
            headers: [
                { text: 'Due Date', value: 'due_date', sortable: false },
                { text: 'Invoice #', value: 'invoice_number', sortable: false },
                { text: 'Receiver', value: 'receiver', align: 'center', sortable: false },
            ],
            items: [],
        }
    },
    async fetch() {
        this.loading = true
        await this.$jsonApi.get('invoices', {
            include: 'receiver,shipments,shipmentsCount',
            filter: {
                paid: false,
            },
            sort: 'due_date',
            page: {
                size: 5,
            },
        })
            .then((response) => {
                this.items = response.data
            })
            .catch((error) => {
                this.$toast.error(error.message)
            })
            .finally(() => {
                this.loading = false
            })
    }
}
</script>
