<template lang="pug">
    v-data-table(
        :headers="headers"
        :items="items"
        hide-default-footer
        :loading="loading"
        @click:row="row => $router.push({ name: 'orders-id', params: { id: row.order.id } })"
        style="cursor: pointer;"
    )
        span(slot="no-data")
            | No orders found.

        template(#item.etd="{ item }")
            app-date(:date="item.etd" warn)
        template(#item.purchaser="{ item }")
            app-avatar(:name="item.order.purchaser.name" size="28" tooltip)
        template(#item.seller="{ item }")
            app-avatar(:name="item.order.seller.name" size="28" tooltip)

</template>

<script>
export default {
    name: "IndexInvoices",
    data() {
        return {
            loading: true,
            headers: [
                {text: 'ETD', value: 'etd', sortable: false},
                {text: 'Item', value: 'title', sortable: false},
                {text: 'Seller', value: 'seller', sortable: false},
                {text: 'Purchaser', value: 'purchaser', sortable: false},
            ],
            items: [],
        }
    },
    async fetch() {
        this.loading = true
        await this.$jsonApi.get('order-items', {
            include: 'order,order.seller,order.purchaser',
            sort: '-etd',
            page: {
                size: 5,
            },
        })
            .then((response) => {
                this.items = response.data
            })
            .catch((error) => {
                this.$toast.error(error.message)
            })
            .finally(() => {
                this.loading = false
            })
    }
}
</script>
