<template lang="pug">
    v-data-table(
        :headers="headers"
        :items="items"
        hide-default-footer
        :loading="loading"
        @click:row="row => $router.push({ name: 'shipments-id', params: { id: row.id } })"
        style="cursor: pointer;"
    )
        span(slot="no-data")
            | No shipments found.

        template(#item.date="{ item }")
            app-date(:date="item.date")
        template(#item.seller="{ item }")
            app-avatar(:name="item.seller.name" size="28" tooltip)
        template(#item.purchaser="{ item }")
            app-avatar(:name="item.purchaser.name" size="28" tooltip)

</template>

<script>
export default {
    name: "IndexInvoices",
    data() {
        return {
            loading: true,
            headers: [
                { text: 'Date', value: 'date', sortable: false },
                { text: 'Shipment #', value: 'title', sortable: false },
                { text: 'Seller', value: 'seller', align: 'center', sortable: false },
                { text: 'Purchaser', value: 'purchaser', align: 'center', sortable: false },
            ],
            items: [],
        }
    },
    async fetch() {
        this.loading = true
        await this.$jsonApi.get('shipments', {
            include: 'purchaser,seller',
            sort: '-date',
            page: {
                size: 5,
            },
        })
            .then((response) => {
                this.items = response.data
            })
            .catch((error) => {
                this.$toast.error(error.message)
            })
            .finally(() => {
                this.loading = false
            })
    }
}
</script>
