<template lang="pug">
    extends /EntityEditBase
    block form
        div#add-shipment
            div.basic
                v-card
                    v-card-title
                        h5 Basic information
                    v-card-text
                        app-form-input(
                            v-model="item.date"
                            :readonly="!isEditing"
                            label="Date"
                            rules="required"
                            type="date"
                            name="date"
                        )
                        app-form-input(
                            v-model="item.due_date"
                            :readonly="!isEditing"
                            label="Due"
                            rules="required"
                            type="date"
                            name="date"
                        )
                        app-form-input(
                            v-model="item.invoice_number"
                            :readonly="!isEditing"
                            counter="25"
                            label="Invoice #"
                            rules="required|min:3|max:25"
                            name="invoice_number"
                        )
                        app-form-toggle(
                            v-model="item.paid"
                            :readonly="!isEditing"
                            label="Paid"
                            name="paid"
                        )
                        app-form-autocomplete(
                            v-model="item.receiver"
                            :readonly="!isEditing"
                            avatars
                            entity="company"
                            item-text="name"
                            item-value="id"
                            label="Receiver"
                            name="receiver"
                            required
                            return-object
                            rules="required"
                            @change="changedLocalValue = true"
                            :filter="{is_payer: true}"
                        )

            div.items
                v-card
                    v-card-title
                        h5 Shipments
                    v-card-text
                        shipments(
                            v-model="item"
                            :is-editing="isEditing"
                            :readonly="!isEditing"
                            ref="shipments"
                        )
    block fab-before
        app-btn-tooltip(
            :href="item.print_url"
            target="_blank"
            icon="mdi-printer"
            tooltip="Print"
            class="mr-4"
            key="print"
            v-if="!isEditing"
            color="primary"
        )
</template>

<script>
import Shipments from "@@/nuxt/pages/invoices/components/Shipments";
import EntityEditPage from "@@/nuxt/components/pages/EntityEditPage";
import _ from "underscore";

async function handler(newValue, oldValue) {
    let confirmed = false

    if (this.changedLocalValue && oldValue !== null) {
        confirmed = await this.$dialog.confirm({
            title: 'Changing the receiver',
            text: 'Changing the receiver will remove all items from the invoice. Are you sure you want to continue?',
            persistent: true,
        })
    }

    if (confirmed) {
        this.item.receiver = this.localValue.receiver
        if (this.changedLocalValue) {
            this.item.shipments = []
            this.item.shipments = []
        }
    } else {
        this.localValue.receiver = this.item.receiver
    }
    this.changedLocalValue = false
}

export default {
    name: "ShipmentsSingle",
    components: {
        Shipments,
    },
    extends: EntityEditPage,
    meta: {
        title: 'Invoice',
        icon: 'receipt-text-outline',
    },
    include: 'receiver,shipments,shipmentsCount',
    data() {
        return {
            localValue: {
                receiver: null,
            },
            changedLocalValue: false,
        }
    },
    watch: {
        'localValue.receiver': {
            handler,
        },
    },
    methods: {
        postFetch() {
            this.localValue.receiver = this.item.receiver
            this.$nextTick(() => {
                _.debounce(() => {
                    if (this.$refs.shipments) {
                        this.$refs.shipments.fetch()
                        return false;
                    }
                }, 500)()
            })

        },
    },
}
</script>

<style lang="scss" scoped>
@import '~vuetify/src/styles/settings/_variables';

@media #{map-get($display-breakpoints, 'md-and-up')} {
    #add-shipment {
        display: grid;
        grid-template-areas:
          'basic items'
          'none documents';
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 1fr;
        gap: 1.5rem;
        margin-right: 1.5rem;
    }
}

.basic {
    grid-area: basic;
}

.documents {
    grid-area: documents;
}

.items {
    grid-area: items;
}
</style>
