<template lang="pug">
    extends /EntityEditBase
    block form
        div#add-shipment
            div.basic
                v-card
                    v-card-title
                        h5 Basic information
                    v-card-text
                        app-form-input(
                            v-model="item.date"
                            :readonly="!isEditing"
                            label="Date"
                            rules="required"
                            type="date"
                            name="date"
                        )
                        app-form-input(
                            v-model="item.shipment_number"
                            :readonly="!isEditing"
                            label="Shipment #"
                            rules="required|min:3|max:25"
                            name="shipment_number"
                        )
                        app-form-autocomplete(
                            v-model="localValue.seller"
                            :readonly="!isEditing"
                            addable
                            avatars
                            entity="company"
                            item-text="name"
                            item-value="id"
                            label="Seller"
                            name="seller"
                            required
                            return-object
                            rules="required"
                            @change="changedLocalValue = true"
                        )
                        app-form-autocomplete(
                            v-model="localValue.purchaser"
                            :readonly="!isEditing"
                            addable
                            avatars
                            entity="company"
                            item-text="name"
                            item-value="id"
                            label="Purchaser"
                            name="purchaser"
                            required
                            return-object
                            rules="required"
                            @change="changedLocalValue = true"
                        )

            div.documents
                list-documents(:disabled="!isEditing")

            div.items
                v-card
                    v-card-title
                        h5 Items shipped
                    v-card-text
                        shipment-items(
                            v-model="item"
                            :is-editing="isEditing"
                            :readonly="!isEditing"
                            ref="shipmentItems"
                        )
</template>

<script>
import ShipmentItems from "@@/nuxt/pages/shipments/components/ShipmentItems";
import ListDocuments from "@@/nuxt/components/ListDocuments";
import EntityEditPage from "@@/nuxt/components/pages/EntityEditPage";
import _ from "underscore";

async function handler(newValue, oldValue) {
    let confirmed = false

    if (this.changedLocalValue && oldValue !== null) {
        confirmed = await this.$dialog.confirm({
            title: 'Changing the seller or purchaser',
            text: 'Changing the seller or purchaser will remove all items from the shipment. Are you sure you want to continue?',
            persistent: true,
        })
    }

    if (confirmed) {
        this.item.seller = this.localValue.seller
        this.item.purchaser = this.localValue.purchaser
        if (this.changedLocalValue) {
            this.item.shipment_items = []
            this.$refs.shipmentItems.fetch()
        }
    } else {
        this.localValue.seller = this.item.seller
        this.localValue.purchaser = this.item.purchaser
    }
    this.changedLocalValue = false
}

export default {
    name: "ShipmentsSingle",
    extends: EntityEditPage,
    components: {
        ShipmentItems,
        ListDocuments
    },
    meta: {
        title: 'Shipment',
        icon: 'truck-delivery',
    },
    include: 'seller,purchaser,shipment_items,shipment_items.order_item,shipment_items.order_item.order',
    data() {
        return {
            localValue: {
                seller: null,
                purchaser: null,
            },
            changedLocalValue: false,
        }
    },
    watch: {
        'localValue.seller': {
            handler,
        },
        'localValue.purchaser': {
            handler,
        },
    },
    methods: {
        postFetch() {
            this.localValue.seller = this.item.seller
            this.localValue.purchaser = this.item.purchaser
            this.$nextTick(() => {
                _.debounce(() => {
                    if(this.$refs.shipmentItems) {
                        this.$refs.shipmentItems.fetch()
                        return false;
                    }
                }, 500)()
            })

        },
    },
}
</script>

<style lang="scss" scoped>
@import '~vuetify/src/styles/settings/_variables';

@media #{map-get($display-breakpoints, 'md-and-up')} {
    #add-shipment {
        display: grid;
        grid-template-areas:
          'basic summary'
          'items items'
          'none documents';
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 1fr;
        gap: 1.5rem;
        margin-right: 1.5rem;
    }
}

.basic {
    grid-area: basic;
}

.documents {
    grid-area: documents;
}

.items {
    grid-area: items;
}
</style>
