<template>
    <v-btn :color="color" fab v-bind="$attrs" v-on="$listeners">
        <v-icon>
            {{ icon }}
        </v-icon>
    </v-btn>
</template>

<script>
export default {
    name: 'BtnTooltip',
    props: {
        icon: {
            type: String,
            default: 'mdi-help',
        },
        color: {
            type: String,
            default: 'error',
        },
    },
}
</script>
