<template lang="pug">
    v-container
        v-row
            v-col(cols="4" clas="d-flex" style="flex-direction:column")
                v-card(class="mb-1 flex-grow-1")
                v-card
                    v-card-title
                        h5 {{ greeting }}
                    v-card-text
                        p
                            | Welcome to {{ $config.app.title }}!
                            br
                            | What do you want to do today?
                        v-list(dense)
                            v-list-item-group(v-for='(group, i) in $menus.main' :key='i')
                                v-list-item(v-for='(item, i) in group' :key='i' :to='item.to' v-if='item.to != $route.path')
                                    v-list-item-icon
                                        v-icon(v-text='item.icon')
                                    v-list-item-content
                                        v-list-item-title(v-text='`manage ${item.title}`')
            v-col(:cols="box.cols ?? 6" v-for='(box, i) in boxes' :key='i' class="d-flex" style="flex-direction:column")
                v-card(class="mb-1 flex-grow-1")
                    v-card-title
                        h5
                            v-icon(v-text='box.icon' class='mr-2')
                            | {{ box.title }}
                    v-card-text
                        component(:is='box.component')
                    v-card-actions
                        v-spacer
                        v-btn(v-if='box.to' :to='box.to' small text)
                            | {{ box.link }}
</template>

<script>
import {GreetingsToUser} from 'greetingstouser'

import Invoices from '@@/nuxt/pages/components/Invoices'
import Shipments from "@/pages/components/Shipments";
import Orders from "@/pages/components/Orders";

export default {
    name: 'IndexPage',
    meta: {
        title: 'Overview',
        icon: 'home',
    },
    computed: {
        greeting() {
            return `${GreetingsToUser(
                new Date(),
                {
                    showName: true,
                    name: this.$auth.user.name
                })
            }!`
        },
    },
    data() {
        return {
            boxes: [
                {
                    title: 'Order Items with next etd',
                    icon: 'mdi-file-sign',
                    component: Orders,
                    to: '/orders',
                    link: 'Manage Orders',
                    cols: 8,
                },
                {
                    title: 'Next due Invoices',
                    icon: 'mdi-receipt-text-outline',
                    component: Invoices,
                    to: '/invoices',
                    link: 'Manage Invoices',
                },
                {
                    title: 'Latest shipments',
                    icon: 'mdi-file-sign',
                    component: Shipments,
                    to: '/shipments',
                    link: 'Manage Shipments',
                },
            ]
        }
    },
}
</script>
