<template lang="pug">
    extends /PageSimpleListing
    block card
        template(#item.email='{ item }')
            a(:href="`mailto:${item.email}`") {{ item.email }}

        template(#item.address='{ item }')
            address
                | {{ item.address }}
                | {{ item.country?.emoji }} {{ item.country?.name }}

        template(#item.phone='{ item }')
            a(:href="`tel:${$phone(item.phone).phoneNumber }`") {{ item.phone }}

        template(#item.admin='{ item }')

        template(#actions)
            v-btn(
                icon
                small
                :to="`/orders?filter[seller_id]=${item.id}`"
            )
                v-icon(small)
                    | mdi-factory
            v-btn(
                icon
                small
                :to="`/orders?filter[purchaser_id]=${item.id}`"
            )
                v-icon(small)
                    | mdi-store-24-hour
</template>

<script>
import PageSimpleListing from '@/components/pages/PageSimpleListing'

export default {
    name: 'CompanyIndex',
    extends: PageSimpleListing,
    includes: 'country',
    meta: {
        title: 'Companies',
        icon: 'domain',
    },
    headers: [
        {
            icon: 'mdi-email-outline',
            value: 'email',
        },
        {
            icon: 'mdi-map-marker-outline',
            value: 'address',
        },
        {
            icon: 'mdi-phone-outline',
            value: 'phone',
        },
    ],
    config: {
        fields: [
            {
                component: 'app-form-input',
                name: 'name',
                label: 'Name',
                icon: 'special:route',
                rules: 'required|min:3',
            },
            {
                component: 'app-form-input',
                name: 'email',
                label: 'Email',
                type: 'email',
                rules: 'email',
            },
            {
                component: 'app-form-input',
                name: 'phone',
                label: 'Phone',
            },
            {
                component: 'v-textarea',
                name: 'address',
                label: 'Address',
                rows: 2,
            },
            {
                component: 'app-form-autocomplete',
                name: 'country',
                label: 'Country',
                props: {
                    entity: 'country',
                    'return-object': true,
                    'item-text': 'name',
                    'item-value': 'id'
                },
            }
        ],
    },
    methods: {
        itemEditable(item) {
            return this.$auth.user.admin
        },
    },
}
</script>
