<template>
    <vee-validation-observer
        ref="orderitemsValidator"
        v-slot="{ invalid }"
    >
        <v-simple-table>
            <template #default>
                <thead>
                <tr>
                    <th style="width:25%">Order</th>
                    <th>Item</th>
                    <th style="width:15%" class="text-right">Amount</th>
                    <th style="width:15%" class="text-right">Left to ship</th>
                    <th style="width:0"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                    v-if="!localValue.seller?.id || !localValue.purchaser?.id"
                    class="v-data-table__empty-wrapper"
                >
                    <td colspan="4">
                        please select a seller and a purchaser
                    </td>
                </tr>
                <tr
                    v-else-if="ordersPending"
                    class="v-data-table__empty-wrapper">
                    <td colspan="4">
                        <v-progress-circular
                            indeterminate
                            size="24"
                            color="primary"
                        />
                    </td>
                </tr>
                <tr
                    v-else-if="!orders.length"
                    class="v-data-table__empty-wrapper">
                    <td colspan="4">
                        could not find any orders for this seller and purchaser
                    </td>
                </tr>
                <template v-else>
                    <tr v-for="(item, key) in localValue.shipment_items" :key="key">
                        <td>
                            <v-autocomplete
                                v-model="selectedOrders[key]"
                                :readonly="!isEditing"
                                :loading="ordersPending"
                                :items="orders"
                                item-text="title"
                                item-value="id"
                                return-object
                            />
                        </td>
                        <td>
                            <v-autocomplete
                                v-model="item.order_item"
                                :readonly="!isEditing || availableOrderItems(selectedOrders[key]?.order_items, item.order_item).length === 0"
                                :loading="ordersPending"
                                :value="item.order_item"
                                :items="availableOrderItems(selectedOrders[key]?.order_items, item.order_item)"
                                item-text="title"
                                item-value="id"
                                return-object
                            />
                        </td>
                        <td>
                            <app-form-input
                                v-model="item.amount"
                                type="number"
                                class="text-right"
                                rules="required|min_value:1"
                                min="1"
                                :readonly="!isEditing"
                                :vid="`orderitems.${key}.amount`"
                                :append-text="item.order_item?.unit_code ?? ''"
                            />
                        </td>
                        <td>
                            <app-form-input
                                :value="amountLeft(item)"
                                type="number"
                                class="text-right"
                                readonly
                                :append-text="item.order_item?.unit_code ?? ''"
                            />
                        </td>
                        <td class="px-0">
                            <transition name="fade">
                                <v-btn
                                    v-if="localValue.shipment_items.length > 1"
                                    class="mx-2"
                                    fab
                                    dark
                                    x-small
                                    color="error"
                                    depressed
                                    outlined
                                    :readonly="!isEditing"
                                >
                                    <v-icon dark @click="remove(key)">mdi-minus</v-icon>
                                </v-btn>
                            </transition>
                        </td>
                    </tr>
                </template>
                </tbody>
            </template>
        </v-simple-table>
        <footer class="actions">
            <v-btn
                v-if="!invalid && isEditing"
                class="my-2 mx-2"
                fab
                dark
                x-small
                color="success"
                depressed
                outlined
                @click="add"
            >
                <v-icon dark>mdi-plus</v-icon>
            </v-btn>
        </footer>
    </vee-validation-observer>
</template>

<script>
import ItemListBase from '@@/nuxt/components/ItemListBase'

export default {
    name: 'ShipmentItems',
    extends: ItemListBase,
    newItem: {},
    attribute: 'shipment_items',
    data() {
        return {
            orders: [],
            selectedOrders: [],
            ordersPending: true
        }
    },
    methods: {
        async fetch() {
            const filter = {
                seller_id: this.localValue.seller?.id,
                purchaser_id: this.localValue.purchaser?.id,
            }
            this.ordersPending = true;
            await this.$jsonApi
                .get('/orders', {
                    include: 'order_items',
                    filter,
                    fields: [
                        'orders.id',
                        'orders.title',
                        'order_items.title',
                        'order_items.id',
                        'order_items.unit'
                    ],
                })
                .then(result => {
                    this.orders = result?.data ? [...result.data] : []
                    this.selectedOrders = this.localValue.shipment_items ? this.localValue.shipment_items?.map(item => {
                        return this.orders.find(order => order.id === item.order_item?.order?.id)
                    }) : []
                    if (!this.orders.length) {
                        this.localValue.shipment_items = []
                    }
                })
                .catch(error => {
                    this.$toast.error(error.response?.data?.message ?? error.message)
                    this.orders = []
                    this.selectedOrders = []
                    this.localValue.shipment_items = []
                })
                .finally(() => {
                    this.ordersPending = false
                })
        },
        amountLeft(item) {
            const amount = parseInt(item.amount?.toString() ?? 0)
            const amountOriginal = parseInt(item.amount_original?.toString() ?? 0)
            const amountLeft = parseInt(item.order_item?.amount_left?.toString() ?? 0)
            return (amountLeft + amountOriginal) - amount
        },
        availableOrderItems(orderItems, currentOrderItem) {
            if (orderItems === null) {
                return []
            }

            return orderItems?.filter(orderItem => {
                const item = this.localValue.shipment_items.find(item => item.order_item?.id === orderItem.id)
                return item === undefined || item.amount_left === 0 || item.order_item?.id === currentOrderItem?.id
            }) ?? []
        },
    },
    fetch() {
        this.fetch()
    }
}
</script>
